* {
	border: blue 1px dashed;
}

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 0px 0px 86px -3px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 0px 86px -3px rgba(0,0,0,0.23);
	box-shadow: 0px 0px 86px -3px rgba(0,0,0,0.23);
}

#banner {
	overflow:hidden;
	background-image: url(../img/banner.svg);
	background-size: cover;
}

.span {
	display: block;
	width: 50%;
	margin-left: 0px;
	box-sizing: border-box;
	float: left;
}

#monitor-column {
	text-align: right;
	float: left;
}
#monitor-column a {
	float: right;
}

#mobile-column {
	text-align: left;
	float: right;
}

#mobile-column a {
	float: left;
}

a {
	color: white;
	font-family: "helvetica", sans-serif;
	font-size: 3em;
	text-decoration: none;
}

#monitor-column a:hover {
	color: #045596;
}

#mobile-column a:hover {
	color: #FB8522;
}

.banner {
	display: block;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
